@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  background-color: rgb(255, 255, 255);
  font-family: roboto;
  margin: 0;
  margin-bottom: 500px;
}
#dark-gradient {
  background: linear-gradient(
    90deg,
    #000000,
    #60006b,
    #000000,
    #0a0059,
    #000da0,
    #000000
  );
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.background {
  display: flex;
}
.width {
  border-color: black;
  border-width: 2px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
/*
.heading {
  height: 100px;
  flex: 1;
  background-color: black;
}
*/
.page-title-container,
.page-title-container-bottom {
  z-index: -1;
  position: relative;
  flex: 1;
  padding: 80px;
  text-align: center;
  /* Removed background and mask properties from here */
}

.page-title-container::before {
  content: "";
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(36, 113, 255);
  background-image: radial-gradient(
      at 40% 20%,
      rgb(179, 209, 255) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, rgb(179, 0, 255) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgb(119, 56, 255) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgb(0, 195, 255) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(187, 0, 255) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgb(255, 255, 255) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(0, 255, 255) 0px, transparent 50%);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
  -webkit-mask-image: linear-gradient(
    to top,
    transparent,
    rgba(0, 0, 0, 0.5) 100%,
    black 100%
  );
  mask-image: linear-gradient(
    to top,
    transparent,
    rgba(0, 0, 0, 0.5) 100%,
    black 100%
  );
}

.page-title {
  position: relative; /* This ensures the text appears above the pseudo-element */
  color: rgb(40, 40, 40);
  font-size: 120px;
  font-weight: 700;
  z-index: 2;
  padding-bottom: 90px;
  background: linear-gradient(
    90deg,
    rgb(40, 40, 40),
    #7d7d7d,
    rgb(43, 43, 43),
    rgb(40, 40, 40),
    rgb(40, 40, 40),
    rgb(40, 40, 40)
  );
  background-size: 400%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 20s linear infinite;
}
.page-title-subtitle {
  position: relative; /* This ensures the text appears above the pseudo-element */
  color: rgb(40, 40, 40);
  font-size: 80px;
  font-weight: 700;
  z-index: 2;
  padding-bottom: 120px;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.buy-now {
  font-size: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  border-style: none;
  border-radius: 100px;
  background-color: rgb(156, 144, 206);
  font-weight: 700;
  color: white;
  margin-bottom: 60px;
  background-image: radial-gradient(
      at 40% 20%,
      rgb(179, 209, 255) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, rgb(179, 0, 255) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgb(87, 9, 255) 0px, transparent 50%),
    radial-gradient(at 80% 50%, rgb(0, 195, 255) 0px, transparent 50%),
    radial-gradient(at 0% 100%, rgb(196, 34, 255) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgb(255, 255, 255) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(12, 255, 255) 0px, transparent 50%);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
  z-index: 2;
  cursor: pointer;
  text-decoration: none;
}
@keyframes totter {
  0%,
  100% {
    transform: rotate(-0.75deg);
  }
  50% {
    transform: rotate(0.75deg);
  }
}
.book-image {
  height: 700px;
  width: 700px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  animation: totter 6s infinite linear;
}
.spreadsheet-image {
  height: 400px;
  width: 400px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: -40px;
  opacity: 90%;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chat-image {
  height: 400px;
  width: 400px;
  object-fit: contain;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: -40px;
  animation: spin 8s linear infinite;
}
.image-container {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 20px 20px rgba(36, 113, 255, 0.1);
  border-radius: 40px;
  margin-bottom: 100px;
}
.screenshot-image {
  object-fit: cover;
  position: absolute;
  height: 500px;
  animation: slide-right-and-back 8s ease-in-out infinite;
}
@keyframes slide-right-and-back {
  0%,
  100% {
    left: 0; /* At start and end, aligned with the left border of the container */
  }
  50% {
    left: calc(
      -210% + 100vw
    ); /* At 50%, right border of the image aligned with the right border of the viewport */
  }
}

.buy-now:hover {
  opacity: 0.7;
  cursor: pointer;
}
.content-box {
  flex: 1;
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
}
.heading {
  color: rgb(40, 40, 40);
  font-size: 90px;
  font-weight: 600;
}
.line-item {
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0px 20px 20px rgba(36, 113, 255, 0.1);
  padding-left: 90px;
  padding-right: 90px;
}
.line-item-title {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 80px;
}
.line-item-content {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 60px;
  color: rgb(84, 84, 84);
}
.paragraph {
  text-align: left;
  font-size: 55px;
  font-weight: 500;
  line-height: 80px;
}
.subheading {
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 30px;
}
.testimony-box {
  text-align: left;
  font-weight: 600;
  box-shadow: 0px 20px 20px rgba(36, 113, 255, 0.1);
  margin-bottom: 100px;
  border-radius: 40px;
}
.testimony-top-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.testimony-image {
  background-color: black;
  height: 125px;
  width: 125px;
  border-radius: 50%;
  margin: 10px;
  margin-right: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  object-fit: cover;
}
.testimony-heading {
  margin: 10px;
  padding-top: 10px;
}
.testimony-title {
  font-size: 40px;
  flex: 1;
  color: black;
}
.testimony-paragraph {
  font-size: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgb(84, 84, 84);
  font-weight: 400;
  line-height: 40px;
}
.testimony-signature {
  font-size: 30px;
  font-style: italic;
  color: rgb(139, 139, 139);
}
.qotd-box {
  margin: 30px;
  color: rgb(186, 186, 186);
  font-weight: 600;
  margin-top: 100px;
}
.qotd-heading {
  font-size: 40px;
  margin-bottom: 10px;
}
.qotd-text {
  font-size: 40px;
  font-weight: 400;
}
.testimonial-invitation {
  margin-top: 80px;
  color: red;
  opacity: 30%;
}
